<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-icon-180x180.png">
  <link href="./static/assets/mate.ico" rel="icon">

  <title>Title page</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>


          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./work1.html" title="" class="active">001</a></li>
            <li><a href="./work2.html" title="">002</a></li>
            <li><a href="./work3.html" title="">003</a></li>
            <li><a href="./work4.html" title="">004</a></li>
            <li><a href="./work5.html" title="">005</a></li>
            <li><a href="./work6.html" title="">006</a></li>
          </ul>


      </div> 
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/odmodel_new.png" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">001 : Object detection model - Tensorflow</h1>
          </div>
          <p>Custom object detection model using Tensorflow Object Detection API</p>          
        </div>
      </div>

      <p></p> 
      <div class="col-xs-12 col-md-12">
        <h3>Introduction</h3>
        <p>I will add the solution procedure later. Now, just look at the performance  of this customized object detection model.
        </p>
        <p>In the first case, I decited to train the model to recognize 4 basic gestures: 
          <ol type="1" style="padding-left: 60px">
            <li>Thumbs up</li>
            <li>Thumbs down</li>
            <li>LiveLong (Spock)</li>
            <li>Thank you!</li>
          </ol>
        </p>
        <div class="col-xs-12">
          <div class="col-md-8 col-md-offset-2 section-container-spacer">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <img src="./static/assets/images/output_image_24.jpg" class="img-responsive" alt="Menphis skyline">
                <p>Thumbs up</p>
              </div>
              <div class="col-xs-12 col-md-6">
                <img src="./static/assets/images/output_image_20.jpg" class="img-responsive" alt="Menphis skyline">
                <p>Thumbs down</p>
              </div>
              <div class="col-xs-12 col-md-6">
                <img src="./static/assets/images/output_image_11.jpg" class="img-responsive" alt="Menphis skyline">
                <p>LiveLong</p>
              </div>
              <div class="col-xs-12 col-md-6">
                <img src="./static/assets/images/output_image_17.jpg" class="img-responsive" alt="Menphis skyline">
                <p>Thank You!</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-12">
          <h3>Performance demonstrating video</h3>
          <p>The model can evaluate both - images and live gestures like you can see on the video.</p> 
          <div class="col-xs-12">
            <video width="940" height="680" controls>
              <source src="/static/assets/images/intro2.mp4" type="video/mp4">
              <!-- <source src="path_to_your_video.ogg" type="video/ogg"> -->
              Your browser does not support the video tag.
            </video>
          </div>
        </div>

    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© ANNELISSEISHERE | Website created using own Flask server <a href="https://flask.palletsprojects.com/en/3.0.x/" title="Flask is a micro web framework written in Python">Flask</a>/<a href="https://www.python.org/" title="Best programming language">Python</a></p>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>